<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goToTabs()">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fadeIn">
  <p>O Abastecimento Inteligente, foi projetado, idealizado e desenvolvido por Anderson Ferreira Canel e Felipe Biel de Souza Silva, estudantes do curso da Ciência da Computação do Centro Universitário Augusto Motta (UNISUAM).</p>
  <p>O sistema foi projetado para solucionar o problema da automação do acionamento dos equipamentos de bombeamento de
    água, o fornecimento de estimativas de consumo, a possibilidade de alarmar problemas, e educação quanto ao consumo,
    com foco no baixo custo de aquisição.</p>

  <p><b>Informações do Aplicativo: </b></p>
  <p><b>Versão:</b> beta 0.0.2 </p>
</ion-content>