<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fadeIn">
  <div class="ion-text-center">
    <h3>Status da bomba</h3>
  </div>

  <ion-card>
    <ion-card-header class="ion-text-center card-success">
      <ion-card-title>
        Ligada
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="ion-text-center">
    <h3>Nível</h3>
  </div>
  <div margin-bottom class="ion-text-center">
    <img src="assets/images/status/status_1.png" width="250">
  </div>

  <div class="ion-text-center">
    <h2 class="porcentagem_reservatorio">40%</h2>
    <h4>Aproximadamente 500 Litros</h4>
  </div>

  <div class="ion-text-center consumo">
    <h2 class="porcentagem_reservatorio">Consumo</h2>
  </div>
  <ion-card>
    <ion-card-header class="ion-text-center card-success">
      <ion-card-title>
        <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon> Normal
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>