<ion-menu side="end">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="redirectToEventos()">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Eventos</ion-label>
      </ion-item>
      <ion-item (click)="redirectToStatus()">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Status</ion-label>
      </ion-item>
      <ion-item (click)="redirectToConfiguracoes()">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>
      <ion-item (click)="redirectToMeusDados()">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Meus Dados</ion-label>
      </ion-item>
      <ion-item (click)="redirectToSobre()">
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>