<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="status">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evento">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="consumo">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Consumo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
