<ion-header>
  <ion-toolbar>
    <ion-title>Primeiro Acesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fadeIn">

  <div class="ion-text-center">
    <h1>Bem-vindo!</h1>
    <p>Para seu primeiro acesso, por favor redefina sua senha</p>
  </div>

  <ion-item>
    <ion-icon name="lock" class="icone-absoluto"></ion-icon>
    <ion-input placeholder="Nova senha" text-center type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock" class="icone-absoluto"></ion-icon>
    <ion-input placeholder="Confirme a senha" text-center type="password"></ion-input>
  </ion-item>

  <ion-item>
      <ion-icon name="contacts" class="icone-absoluto"></ion-icon>
      <ion-input placeholder="Quantidade de moradores" text-center type="number"></ion-input>
      <ion-icon name="help" class="icone-absoluto-right" (click)="helpMoradores()"></ion-icon>
  </ion-item>


  <ion-list>
    <ion-button margin-top expand="block" (click)="prosseguir()">Prosseguir</ion-button>
  </ion-list>

  <div margin-top>
    <div text-center margin class="white" *ngIf="progresso">Preparando tudo</div>
    <ion-progress-bar *ngIf="progresso" type="indeterminate"></ion-progress-bar>
  </div>

</ion-content>